In [ ]:
%pip install pandas
%pip install numpy

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
URL = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

data  = pd.read_csv(URL)

In [73]:
print(f"Number of duplicates : {data.duplicated().sum()}")
print(f"Number of duplicates in column 'Respondent' : {data.Respondent.duplicated().sum()}")

Number of duplicates : 0
Number of duplicates in column 'Respondent' : 0

In [74]:
data.drop_duplicates(inplace=True)

In [75]:
print(f"Number of duplicates : {data.duplicated().sum()}")

Number of duplicates : 0

In [76]:
for column, number_of_missing_values in data.isna().sum().items():
    if number_of_missing_values > 0:
        print(f"Column {column} has {number_of_missing_values} missing values")

Column OpenSource has 81 missing values
Column Student has 51 missing values
Column EdLevel has 112 missing values
Column UndergradMajor has 737 missing values
Column EduOther has 164 missing values
Column OrgSize has 96 missing values
Column DevType has 65 missing values
Column YearsCode has 9 missing values
Column Age1stCode has 13 missing values
Column YearsCodePro has 16 missing values
Column JobSat has 1 missing values
Column MgrIdiot has 493 missing values
Column MgrMoney has 497 missing values
Column MgrWant has 493 missing values
Column LastInt has 413 missing values
Column FizzBuzz has 37 missing values
Column JobFactors has 3 missing values
Column ResumeUpdate has 39 missing values
Column CompTotal has 809 missing values
Column CompFreq has 206 missing values
Column ConvertedComp has 816 missing values
Column WorkWeekHrs has 122 missing values
Column WorkPlan has 121 missing values
Column WorkChallenge has 164 missing values
Column WorkRemote has 8 missing values
Column WorkLoc has 32 missing values
Column ImpSyn has 5 missing values
Column CodeRev has 1 missing values
Column CodeRevHrs has 2426 missing values
Column UnitTests has 29 missing values
Column PurchaseHow has 196 missing values
Column PurchaseWhat has 38 missing values
Column LanguageWorkedWith has 11 missing values
Column LanguageDesireNextYear has 134 missing values
Column DatabaseWorkedWith has 453 missing values
Column DatabaseDesireNextYear has 1042 missing values
Column PlatformWorkedWith has 411 missing values
Column PlatformDesireNextYear has 544 missing values
Column WebFrameWorkedWith has 1393 missing values
Column WebFrameDesireNextYear has 1617 missing values
Column MiscTechWorkedWith has 2182 missing values
Column MiscTechDesireNextYear has 1455 missing values
Column DevEnviron has 29 missing values
Column OpSys has 34 missing values
Column Containers has 82 missing values
Column BlockchainOrg has 2322 missing values
Column BlockchainIs has 2610 missing values
Column BetterLife has 98 missing values
Column ITperson has 35 missing values
Column OffOn has 38 missing values
Column SocialMedia has 293 missing values
Column Extraversion has 20 missing values
Column ScreenName has 507 missing values
Column SOVisit1st has 325 missing values
Column SOVisitFreq has 5 missing values
Column SOVisitTo has 1 missing values
Column SOFindAnswer has 3 missing values
Column SOTimeSaved has 50 missing values
Column SOHowMuchTime has 1917 missing values
Column SOAccount has 1 missing values
Column SOPartFreq has 1128 missing values
Column SOJobs has 6 missing values
Column EntTeams has 5 missing values
Column WelcomeChange has 85 missing values
Column SONewContent has 1965 missing values
Column Age has 287 missing values
Column Gender has 73 missing values
Column Trans has 123 missing values
Column Sexuality has 542 missing values
Column Ethnicity has 675 missing values
Column Dependents has 140 missing values
Column SurveyLength has 19 missing values
Column SurveyEase has 14 missing values

In [77]:
print(f"Column 'WorkLoc' has {data["WorkLoc"].isna().sum()} missing values")

Column 'WorkLoc' has 32 missing values

In [78]:
data.WorkLoc.value_counts()

WorkLoc
Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: count, dtype: int64

In [79]:
data.WorkLoc.replace(np.nan, 'Office', inplace=True)

C:\Users\DavyT\AppData\Local\Temp\ipykernel_30304\3937697528.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.WorkLoc.replace(np.nan, 'Office', inplace=True)

In [80]:
print(f"Column 'WorkLoc' has {data["WorkLoc"].isna().sum()} missing values")

Column 'WorkLoc' has 0 missing values

In [82]:
data.CompFreq.value_counts()

CompFreq
Yearly     6073
Monthly    4788
Weekly      331
Name: count, dtype: int64

In [83]:
data['NormalizedAnnualCompensation'] = \
    np.where(data.CompFreq == 'Yearly', data.CompTotal, \
             np.where(data.CompFreq == 'Monthly', data.CompTotal * 12, \
                      np.where(data.CompFreq == 'Weekly', data.CompTotal * 52, np.nan)))

In [85]:
print(f"Median of NormalizedAnnualCompensation = {data.NormalizedAnnualCompensation.median()}")

Median of NormalizedAnnualCompensation = 100000.0